@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: 'Chakra Petch', sans-serif;
}

body {
  font-family: 'Chakra Petch', sans-serif;
}

/* Ensure monospace still works for telemetry but with Chakra feel if possible */
.font-mono {
  font-family: 'Chakra Petch', monospace;
}
